<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col my-auto">
      <h2>Periodos</h2>
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-outline-info" routerLink="/periodo">Novo</button>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div *ngFor="let periodo of periodos">
    <div class="card border">
      <div [ngClass]="periodo.isFechado? 'card-body bg-success text-white' : 'card-body bg-primary text-white'">
        <div class="row justify-content-between custom-table-row" routerLink="/periodo-details/{{periodo.id}}">
          <div class="col">
            {{periodo.descricao}}
          </div>
          <div class="col-auto">
            {{periodo.valorTotal | currency: 'BRL'}}
          </div>
        </div>
      </div>
    </div>
  </div>