<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h3>{{periodo?.descricao}}</h3>
    </div>
    <div class="col-auto">
      <h3>{{periodo?.valorTotal | currency: 'BRL'}}</h3>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Valores Devidos</h4>
    </div>
    <div class="list-group list-group-flush" *ngFor="let valorUsuario of valoresDevidos">
      <div class="list-group-item">
        <div class="row">
          <div class="col">{{valorUsuario.usuario.nome}} <span
              class="text-secondary">({{valorUsuario.usuario.percentual}}%)</span></div>
          <div class="col-auto">{{valorUsuario.valorTotal | currency: 'BRL'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Valores Pagos</h4>
    </div>
    <div class="list-group list-group-flush" *ngFor="let valorUsuario of valoresPagos">
      <div class="list-group-item">
        <div class="row">
          <div class="col">{{valorUsuario.usuario.nome}}</div>
          <div class="col-auto">{{valorUsuario.valorTotal | currency: 'BRL'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Resultado</h4>
    </div>
    <div class="list-group list-group-flush" *ngFor="let valorUsuario of valoresCalculados">
      <div class="list-group-item">
        <div class="row" [ngClass]="getResultTextColor(valorUsuario.valorTotal)">
          <div class="col">{{valorUsuario.usuario.nome}}
            <span class="text-secondary" *ngIf="devePagar(valorUsuario.valorTotal)">(deve)</span>
          </div>
          <div class="col-auto">{{valorUsuario.valorTotal | currency: 'BRL'}}</div>
        </div>
      </div>
    </div>
  </div>