<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h3>Extrato: {{periodo?.descricao}}</h3>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="row justify-content-center">
    <div class="col-auto">
      <h3>Valor total: {{periodo?.valor | currency: 'BRL'}}</h3>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="row justify-content-center">
    <div class="col-auto">
      <h4>Valores Pagos</h4>
    </div>
  </div>
  <div> <!-- *ngFor users / total amount of expenses on period for each -->
    <div class="row justify-content-center">
      <div class="col-auto">
        Guilherme: R$800.00
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        Cyntia: R$700.00
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="row justify-content-center">
    <div class="col-auto">
      <h4>Valores Esperados</h4>
    </div>
  </div>
  <div> <!-- *ngFor users / percentual from config/ calculated value-->
    <div class="row justify-content-center">
      <div class="col-auto">
        Guilherme: R$900.00 <span class="text-body-secondary">(60%)</span>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        Cyntia: R$600.00 <span class="text-body-secondary">(40%)</span>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="row justify-content-center">
    <div class="col-auto">
      <h4>Resultado</h4>
    </div>
  </div>
  <div> <!-- *ngFor users / percentual from config/ calculated value-->
    <div class="row">
      <div class="col-12 justify-content-between">
        <table class="table">
          <thead>
            <th>&nbsp;</th>
            <th>Paga</th>
            <th>Recebe</th>
          </thead>
          <tbody>
            <tr>
              <td>Guilherme</td>
              <td>R$100.00</td>
              <td>R$0.00</td>
            </tr>
            <tr>
              <td>Cyntia</td>
              <td>R$0.00</td>
              <td>R$100.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>