<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h3>{{periodo?.descricao}}</h3>
    </div>
    <div class="col-auto">
      <h3>{{periodo?.valorTotal | currency: 'BRL'}}</h3>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Valores Pagos</h4>
    </div>
    <ul class="list-group list-group-flush" *ngFor="let valorUsuario of valoresPorUsuarioNoPeriodo">
      <li class="list-group-item">{{valorUsuario.nomeUsuario}}: {{valorUsuario.valorTotal | currency: 'BRL'}}</li>
    </ul>
  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Valores Esperados</h4>
    </div>
    <ul class="list-group list-group-flush"> <!-- *ngFor users / percentual from config/ calculated value-->
      <li class="list-group-item">
        Guilherme: R$900.00 <span class="text-body-secondary">(60%)</span>
      </li>
      <li class="list-group-item">
        Cyntia: R$600.00 <span class="text-body-secondary">(40%)</span>
      </li>
    </ul>
  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Resultado</h4>
    </div>
    <div> <!-- *ngFor users / percentual from config/ calculated value-->
      <table class="table">
        <thead>
          <th>&nbsp;</th>
          <th>Paga</th>
          <th>Recebe</th>
        </thead>
        <tbody>
          <tr>
            <td>Guilherme</td>
            <td>R$100.00</td>
            <td>R$0.00</td>
          </tr>
          <tr>
            <td>Cyntia</td>
            <td>R$0.00</td>
            <td>R$100.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>