<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h3>{{periodo?.descricao}}</h3>
    </div>
    <div class="col-auto">
      <h3>{{periodo?.valorTotal | currency: 'BRL'}}</h3>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Valores Pagos</h4>
    </div>
    <div class="list-group list-group-flush" *ngFor="let valorUsuario of valoresPagosPorUsuarioNoPeriodo">
      <div class="list-group-item">
        <div class="row">
          <div class="col">{{valorUsuario.nomeUsuario}}</div>
          <div class="col-auto">{{valorUsuario.valorTotal | currency: 'BRL'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Valores Devidos</h4>
    </div>
    <div class="list-group list-group-flush" *ngFor="let valorUsuario of valoresDevidosPorUsuarioNoPeriodo">
      <div class="list-group-item">
        <div class="row">
          <div class="col">{{valorUsuario.nomeUsuario}}</div>
          <div class="col-auto">{{valorUsuario.valorTotal | currency: 'BRL'}}</div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">&nbsp;</div>

  <div class="card">
    <div class="card-header">
      <h4>Resultado</h4>
    </div>
    <div> <!-- *ngFor users / percentual from config/ calculated value-->
      <table class="table">
        <thead>
          <th>&nbsp;</th>
          <th>Paga</th>
          <th>Recebe</th>
        </thead>
        <tbody>
          <tr>
            <td>Guilherme</td>
            <td>R$100.00</td>
            <td>R$0.00</td>
          </tr>
          <tr>
            <td>Cyntia</td>
            <td>R$0.00</td>
            <td>R$100.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>