/* You can add global styles to this file, and also import other style files */
@import './styles/bootstrap-5.3.0-dist/css/bootstrap.min.css';

.double-info {
  min-width: 100px;
}

.custom-table-row {
  padding-top: 2px;
  min-height: 30px;
}

.custom-table-row:hover {
  background-color: lightgray;
}
